// app global css in SCSS form
.mypage{
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    background-color:#f8f8f8;
}
.page-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 50px 0 50px 0;
  padding: 16px;
}
.mytx-tip{
    color: #96A0AB;
    font-size: 14px;
}
.mytx-primary {
  color: $primary;
}
h1 {
  font-size: 25px;
  line-height: 2rem;
}
h2 {
  font-size: 20px;
  line-height: 2rem;
}
h3 {
  font-size: 15px;
  line-height: 2rem;
}
.mydialog{
  background:white;
  min-width:300px;
}
.course-cover {
  width: 530px;
  height: 320px;
  align-self: center;
  margin: 0px 20px;
  flex-shrink: 0;
}
.course-summary {
  margin: 20px 20px 20px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.price-share {
  width: 100%;
  height: 55px;
  display: flex;
  background-color: #f3f3f3;
  margin-top: 10px;
  justify-content: space-between;
}
.flex-col{
  display:flex;
  flex-direction: column;
}
