// app global css in Sass form
.mypage{
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    background-color:#f8f8f8;
}
.mytx-tip{
    color: #96A0AB;
    font-size: 14px;
}
h1 {
  font-size: 25px;
  line-height: 2rem;
}
h2 {
  font-size: 20px;
  line-height: 2rem;
}
h3 {
  font-size: 15px;
  line-height: 2rem;
}
.mydialog{
  background:white;
  min-width:300px;
}
.summary-tx {
  margin: 20px 20px 20px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}
